@import "../../scss/_index.scss";

$component: "top-menu";

.#{$component} {
  background-color: $color-red;
  &__grid {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: 0 30px;
    margin: 0 auto;
    max-width: $max-container-width;
  }

  &__link {
    color: $color-white;
    text-decoration: none;
    font-size: 13px;
    line-height: 50px;
    @include font-extra-light;
  }
}
