@import '../../scss/_index.scss';

$component: 'all-articles';

.#{$component} {
  &__article-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  &__filter-container {
    display: flex;
    gap: 40px;
  }
  &__filter-item {
    padding: 20px 0px;
    text-align: center;
    cursor: pointer;
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      bottom: 16px;
      position: absolute;
      background-color: $color-red;
      transition: all 0.2s ease;
      transform: scaleX(0);
    }
    &:hover {
      &::after {
        transform: scaleX(1);  
      }
    }


    &--active {
      color: $color-red;
      &::after {
      transform: scaleX(1);
      }
    }
  }

  &__article {
    width: calc(50% - 15px);
    max-height: 308px;
    position: relative;
    overflow: hidden;
    &:hover {
      .#{$component} {
        &__article-image {
            transform: scale(1.05);
        }
      }
    }
  }
  &__article-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.1s all ease-out;
    
  }
  &__text-container {
    position: absolute;
    bottom:15px;
    left: 15px;
    color: $color-white;
    text-shadow: 0px 0px 20px black;
  }
  &__title {
    font-size: 20px;
    line-height: 1.3;
    font-family: $font-medium;
    margin-bottom: 8px;
  }
  &__date {
    font-size: 14px;
  }
}