$font-variable: 'Ranade-Variable';
$font-variable-italic: 'Ranade-VariableItalic';

$font-thin: 'Ranade-Thin';
$font-thin-italic: 'Ranade-ThinItalic';

$font-light: 'Ranade-Light';
$font-light-italic: 'Ranade-LightItalic';

$font-regular: 'Ranade-Regular';
$font-regular-italic: 'Ranade-RegularItalic';

$font-medium: 'Ranade-Medium';
$font-mediumItalic: 'Ranade-MediumItalic';

$font-bold: 'Ranade-Bold';
$font-BoldItalic: 'Ranade-BoldItalic';
