@import '../../scss/index.scss';

$component: 'btn';

.#{$component} {
  text-decoration: none;
  padding: 10px 15px;
  width: fit-content;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    filter: brightness(1.13);
  }
  
  &--solid {
    background-color: $color-red;
    color: $color-white;
  }
}