@import '../../scss/_index.scss';

$component: 'hero';

.#{$component} {
    position: relative;
    height: 500px;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  &__title-container {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
  }
  &__title {
    color: $color-white;
    text-shadow: 0px 0px 20px black;
    font-size: 40px;
    line-height: 1.3;
  }
  @include sm {
    height: 200px;
    margin-top: -25px;
    &__title {
      font-size: 26px;
      line-height: 1.2;
    }
  }
}